<div class="container px-5 py-10 mx-auto text-lg leading-loose select-text">
    <h2 class="mb-2 text-4xl font-bold">Credits</h2>
    <div class="pl-4">
        <p>
            App developed by <a
               class="text-indigo-500 underline"
               href="https://luanhimmlisch.github.io"
               native></a>
        </p>
        <p>
            Published under <a
               class="text-indigo-500 underline"
               href="https://masterpose.dev"
               native></a>
        </p>
        <p>
            Icons from
            <a
               class="text-indigo-500 underline"
               href="https://heroicons.dev/"
               native></a>
        </p>
    </div>

    <hr class="my-10" />

    <h2 class="mb-2 text-4xl font-bold">Privacy</h2>
    <p class="pl-4 leading-relaxed">
        <b>Mine</b> doesn't uses any internet connection and doesn't recollect data
        of any kind.
    </p>

    <hr class="my-10" />

    <p class="text-3xl font-bold text-indigo-400">
        <a
           href="https://play.google.com/store/apps/dev?id=6223474521001418574"
           native></a>
    </p>

    <a
       href="https://ko-fi.com/M4M1AL1RW"
       native
       class="block my-10"><img
             src="img/kofi.webp"
             border="0"
             alt="Buy Me a Coffee at ko-fi.com" /></a>

    <p class="text-3xl font-bold text-indigo-400">
        <a
           href="mailto:contact@masterpose.dev"
           native></a>
    </p>
</div>